
html
{
    position: relative;

    min-height: 100%;
}
body
{
    font-family: verdana;
    font-size: 1.1em;

    margin-bottom: 150px;

    color: white;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
a
{
    color: white;
}
.wrapper
{
    width: 900px;
    min-height: 100%;
    margin: 0 auto;

    background: rgba(0,0,0,.5);
}
header ul li
{
    position: relative;
    top: -1px;
    right: 30px;

    display: inline-block;

    width: 15%;
    margin-top: 25px;
    padding-right: 10px;
    padding-left: 10px;

    list-style-type: none;

    text-align: center;
}
header ul li:hover
{
    font: bold 20px, Arial, sans-serif;
    font-size: 20px;

    margin-top: 21px;

    cursor: pointer;

    color: #0073cd;
    text-shadow: red 0 0 40px,white 0 0 40px;
}
.menu
{
    width: 100%;
    height: 59px;
    margin-left: 50px;
}
.button_input
{
    margin-left: 50px;

    color: red;
}
.button_input:hover
{
    color: #0073cd;
}
.logo
{
    position: relative;
    top: 8px;
    left: -22px;

    float: left;

    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}
.img_1 img
{
    width: 100%;
    height: 100%;
}
.img_1
{
    margin: 0 auto ;
}
h1
{
    font-family: VAGRoundedMBold, verdana;

    text-align: center;
}
.text_main_page
{
    text-align: center;
}
div
{
    margin-right: 19px;
    margin-left: 19px;
}
.color_text
{
    margin: 0;
    padding: 0;

    text-align: center;

    color: #0073cd;
}
.square
{
    list-style: url(../img/logo/log2o2.png);
}
.square li
{
    margin-bottom: 10px;
}
.GallerySetup
{
    height: 192px;
    margin: 0;
    padding: 0;
}
.GallerySetup div
{
    font-size: 14px;

    display: inline-block;

    width: 200px;
    margin: 0;
    padding: 0;

    text-align: center;
}
.GallerySetup div:hover
{
    transition: .5s ease;
    transform: scale(1.2);

    border-bottom: 1px solid red;
    border-radius: 20px;
}
.GallerySetup div a
{
    text-decoration: none;

    color: #0073cd;
}
.GallerySetup div a:hove
{
    text-decoration: none;

    color: red;
}
footer
{
    position: absolute;
    bottom: 10px;
    bottom: 0;

    width: 900px;
    width: 900px;
    height: 150px;
    height: 150px;

    border-left: 0;
    background: url(../img/logo/www.overkill.jpg);
}
footer div
{
    margin: 0;
    padding: 0;
}
.foot_logo
{
    position: absolute;

    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
}
.logo_pay img
{
    position: relative;
    top: -1px;
    left: 294px;

    float: left;
}
.logo_pay2 img
{
    position: relative;
    top: 5px;
    left: 275px;

    width: 50px;
    height: 50px;
}
.ligo_bar
{
    position: relative;
    top: 3px;
    left: 49px;

    display: inline-block;

    width: 300px;
    height: 50px;
}
.ligo_bar img
{
    margin-top: 13px;
}
.ligo_bar a img:hover
{
    margin-top: 1px;
    padding-bottom: 4px;

    border-bottom: 3px dotted red;
    border-radius: 15px;
}
h6
{
    text-align: center;

    color: #42484d;
}
.borderHeadline
{
    font-family: CURSIVE;

    margin: 0 auto;
    padding: 20px;

    text-align: center;

    color: #2fb2f9;
    border: 1px solid blue;
    border-radius: 20px;
}
.fors
{
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 0;
}
.btn
{
    position: relative;
    top: 150px;
    left: 376px;

    width: 210px;
}
.button1
{
    width: 115px;
    height: 35px;
    margin: 0;
    padding: 0;

    color: white;
    border-color: #57594c;
    background: #282923;
}
.button2
{
    position: relative;

    width: 209px;
    height: 35px;

    color: white;
    border-color: #57594c;
    background: #282923;
}
.button1:hover
{
    color: #0073cd;
}
.button2:hover
{
    color: #0073cd;
}
form input
{
    color: white;
    border-color: #57594c;
    background: #282923;
}
.forms
{
    position: relative;
    top: 177px;
    left: 328px;

    width: 300px;
}
.field
{
    width: 204px;
}